[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/lucassabreu/after-dark.git

[submodule "themes/after-dark"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
